.nav{
   grid-area: n;
   padding: 20px;
   background: linear-gradient(-190deg , rgb(21, 212, 85), rgb(189, 211, 201));
   }

   .item a{
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      
   }
   .item a.active {
      color: gold;
   }